body{
    background-image: url('./images/elephant.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

.nav {
color: #F40909;
background-color: #FDD9D9;
font-size: 12px;
float: right;
width: 100%;

}

.nav li {
    display: inline;
    font-size: 20px;
    padding: 20px;
    color: red;
    float: right;

}
a:link{
  text-decoration: none;

}
.footer{
    background-color:#BBAACC;
    height: 40px;
    color: blue;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  }